@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Regular.ttf"), url("fonts/TTLakes-Regular.woff"),
    url("fonts/TTLakes-Regular.eot");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "TT Lakes medium";
  src: url("fonts/TTLakes-Medium.ttf"), url("fonts/TTLakes-Medium.woff"),
    url("fonts/TTLakes-Medium.eot");
  font-style: normal;
  font-weight: medium;
}
@font-face {
  font-family: "TT Lakes bold";
  src: url("fonts/TTLakes-Bold.ttf"), url("fonts/TTLakes-Bold.woff"),
    url("fonts/TTLakes-Bold.eot");
  font-style: normal;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}
button {
  padding: 0;
  border: none;
}
.header {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.header__pick-row {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 24px 16px;
  border-bottom: 1px solid #d9fff5;
  background-color: #ffffff;
}
.header__burger {
  display: flex;
  flex-direction: row;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 16px;
}
.header__burger::after {
  display: none;
  content: url(img/pick-row/divider.svg);
  height: 32px;
  width: 2px;
  border-radius: 1px;
  background-color: #eaeaea;
  transform: translateX(20px);
}
.header__logo {
  display: flex;
  font-size: 30px;
  text-transform: uppercase;
  height: 40px;
  align-items: center;
  margin-right: 16px;
  margin-left: 0;
}
.header__call {
  display: none;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}
.header__chat {
  display: none;
  min-width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 16px;
}
.header__profile {
  display: none;
  min-width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 16px;
  margin-right: 40px;
}
.header__repair {
  display: flex;
  min-width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
}
.header__repair::before {
  content: url(img/pick-row/divider.svg);
  height: 32px;
  width: 2px;
  border-radius: 1px;
  background-color: #eaeaea;
  transform: translateX(-30px);
}
.header__status {
  display: flex;
  min-width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 16px;
}
/*----------------------------------------------------------------------------*/
.main {
  display: flex;
  flex-wrap: wrap;
  width: 99.95%;
  margin: 0 auto;
  padding: 0;
  background-color: #f8f8f8;
}
.main__title {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f8f8f8;
  margin: 24px 0;
  height: 40px;
  background-color: #f8f8f8;
  width: 100%;
}
.main__right-container {
  display: none;
  align-items: center;
  margin-left: auto;
}
.main__service-text {
  margin-left: 12px;
  font-family: "TT Lakes bold";
  font-size: 28px;
  line-height: 40px;
}
.main__service-text::before {
  position: absolute;
  content: url(img/title/highlight.svg);
  transform: translateX(-12px);
}
.main__order-label {
  margin-left: auto;
  font-family: "TT Lakes medium";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  cursor: pointer;
}
.main__order {
  display: flex;
  min-width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 9px;
  margin-right: 32px;
}
.main__status-label {
  font-family: "TT Lakes medium";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  cursor: pointer;
}
.main__status {
  display: flex;
  min-width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 9px;
  margin-right: 32px;
}
/*------------------------------------------------------------------------------*/
.main__list-menu {
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  display: flex;  
  overflow-x: scroll;
  list-style-type: none;
  width: 100%;  
  background-color: #f8f8f8;  
  padding: 7px 16px;
}
.main__list-menu::-webkit-scrollbar {
  height: 0;
}
.main__list-menu-item {
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  padding: 7px 17px;
}
.main__list-menu-item:focus {
  border: 2px solid #b8ffec;
  border-radius: 6px;
  padding: 5px 15px;
  background-color: #ffffff;
  
  margin-right: 0;
  letter-spacing: -0.2px;
}
.main__list-menu-item a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: #7e7e82;
}
/*------------------------------------------------------------------------------*/
.main__container-description {
  display: flex;
  flex-wrap: wrap;
}
.main__text-container {
  display: flex;
  width: 99.99%;
  flex-grow: 1;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0 16px 0 16px;
}
.main__description {
  display: flex;
  font-family: "TT Lakes";
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  width: 100%;
  max-height: 90px;
  overflow-y: hidden; 
}
.main__read-more {
  display: flex;
  width: auto;
  align-items: flex-start;
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: "TT Lakes medium";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  padding-left: 0;
  background-color: #f8f8f8;
}
.main__read-more::before {
  content: url(img/text/readmore.svg);
  padding-right: 10px;
}
.main__read-more:hover {
  cursor: pointer; 
}
.main__img-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  max-width: 450px;
  margin: 0 auto;
}
/*-------------------------------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 767px) {
  .main__main-img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1119px) {
  .header__burger {
    margin-right: 40px;
  }
  .header__burger::after {
    display: block;
  }
  .header__logo {
    margin-left: 0;
  }
  .header__call {
    display: flex;
  }
  .header__chat {
    display: flex;
  }
  .header__profile {
    display: flex;
  }
  .header__repair {
    margin-left: 0;
  }
  .header__status {
    margin-right: 24px;
  }
  .main__service-text {
    margin-left: 24px;
  }
  .main__service-text::before {
    transform: translateX(-24px);
  }
  .header__title {
    margin-bottom: 32px;
  }
  .main__list-menu { 
    padding-left: 24px;
  }
  .main__container-description {
    flex-wrap: nowrap;
    width: 100%;
  }
  .main__img-container {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    max-width: 50%;
    box-sizing: border-box;
  }
  .main__main-img {
    min-height: 200px;
    min-width: 250px;
    border-radius: 8px;
    margin-right: auto;
    margin-left: 0px;
  }
  .main__text-container {
    display: flex;
    justify-content: flex-start;
    max-width: 50%;
    flex-wrap: wrap;
    margin-left: 0;
    padding-left: 24px;
    padding-right: 32px;
    box-sizing: border-box;
  }
  .main__read-more {
    margin-top: 10px;
    margin-left: 9px;
  }
  .main__description {
    max-height: 145px;
    line-height: 20px;
  }
  .main__title {
    margin: 24px 0 30px 0;
  }
}
@media (min-width: 1120px) {
  .header__pick-row {
    display: none;
  }
  .main__title {
    margin-top: 42px;
    margin-bottom: 8px;
  }
  .main__right-container {
    display: flex;
  }
  .main__list-menu {
    overflow-x: none;
    flex-wrap: wrap;
    padding-left: 32px;
  }
  .main__container-description {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .main__read-more {
    margin-top: 14px;
    margin-left: 6px;
  }
  .main__text-container {
    max-width: 50%;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-left: 34px;
    padding-right: 36px;
    padding-bottom: 14px;
    box-sizing: border-box;
  }
  .main__img-container {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    max-width: 50%;
    box-sizing: border-box;
  }
  .main__main-img {
    min-width: 520px;
    min-height: 300px;
    border-radius: 8px;
    margin-right: 24px;
  }
  .main__description {
    line-height: 20px;
    max-height: 160px;
  }
  .main__title {
    margin: 42px 0 2px 0;
  }
  .main__service-text {
    margin-left: 32px;
  }
  .main__service-text::before {
    transform: translateX(-32px);
  }
}
